//
// Modal
//
.modal-content {
    border-radius: $border-radius;
    border: 1px solid $border-color-modal;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-title {
    font-size: $modal-title-font-size;
}

.modal {
    background: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background */
    backdrop-filter: blur(5px);
    /* Apply blur effect to the background */
}

// Fluid modal

.modal-fluid {
    .modal-dialog {
        margin-top: 0;
        margin-bottom: 0;
    }

    .modal-content {
        border-radius: 0;
    }
}


// Background color variations

@each $color, $value in $theme-colors {
    .modal-#{$color} {
        @include modal-variant($value);
    }
}