.sub-title-space {
    margin-top: 5px;
}

.cancel-container {
    display: flex;
    justify-content: end;
    right: 35px;
    top: 35px;
}

.modal-container {
    padding: 20px 20px 0px 0px;
}

.section-modal-container {
    padding: 0px 8% 60px 8%;
}


.modal-bottom-btn {
    width: 215px;
}

.modal-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-cancel-container {
    cursor: pointer;
    padding: 10px;
}


.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    /* Adjust the alpha (0.8) for the desired blur effect */
    backdrop-filter: blur(10px);
    /* Adjust the blur radius (10px) as needed */
    z-index: 999;
    /* Adjust the z-index as needed */
}