.jd-container-top {
  margin-top: 55px;
}

.duration-content-container {
  display: flex;
}

.each-duration {
  width: 25%;
}

.each-duration-space {
  margin-left: 25px;
}

.group-container {
  margin-top: 25px;
  margin-bottom: 50px;
}