.detailed-report-container {
    margin-top: 60px;
}

.detailed-report-card-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--card-border);
    border-radius: var(--border-radius);
    padding: 5% 8%;
    margin: 0% 5%;
}

.detailed-report-title {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
}

.heading-font {
    color: var(--secondary);
    font-size: 48px !important;
    font-weight: 700;
    line-height: 1;
}

.detailed-job-description-container {
    margin-top: 80px;
}

.detailed-job-description-item {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-top: 40px;
    width: 100%;
    align-items: center;
}

.detailed-job-description-title {
    font-size: 20px;
    color: var(--secondary);
    font-weight: 600;
}

.skill-matrix-container {
    display: flex;
    flex-direction: column;
}

.skill-matrix-heading-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.note-container {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.note-list-container {
    margin-top: 15px;
}

.note-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}


.note-text {
    font-size: 14px;
    color: var(--description);
    font-weight: 400;
    margin-left: 8px;
}

.questions-container {
    margin-top: 30px;
    width: 100%;
}


.sector-card-container {
    height: auto;
    display: flex;
    padding: 25px 30px;
    margin-top: 40px;
    flex-direction: column;
}

.sector-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.question-container {
    margin-top: 20px;
}

.question-text {
    font-size: 14px;
    color: var(--secondary);
    font-weight: 400;
}

.answer-container {
    margin-top: 20px;
}

.answer-item-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.detailed-each-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* @media(max-width: 768px) {


    .detailed-report-card-container {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .detailed-each-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .heading-font {
        color: var(--secondary);
        font-size: 24px !important;
        font-weight: 700;
        line-height: 1;
    }

    .detailed-job-description-title {
        font-size: 18px;
        color: var(--secondary);
        font-weight: 600;
    }


    .detailed-job-description-item {
        padding: 15px;
    }

    .detailed-report-card-container {
        padding: 15px;
    }

    .note-container {
        margin-top: 25px;
        margin-left: 5px;
        display: flex;
        justify-content: flex-start;
    }

} */