/* Define the base button style */
.custom-btn {
  width: 220px;
  height: 40px;
  color: #fff;
  /* border-radius: 6px; */
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #001532; /* Set the initial background color */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

/* Define the button style on hover */
/* .custom-btn:hover {
  transform: translateY(-0.2rem);
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
  color:#000000
} */

.index-card {
  /* background:white; */
  color: #000000
}

.index-card:hover {
  transform: translateY(-0.2rem);
  background: linear-gradient(0deg, #001532 0%, #021f48 100%); /* Change to linear gradient on hover */
  color: #ffffff
}

.color-change {
  width: 10px;
  height: 10px;
  background-color: #001532;
  border-radius: 60px;
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

.index-card:hover .color-change {
  background-color: #ffffff; /* Change the background color of .color-change to white on .index-card hover */
}


.index-card:hover .custom-btn {
  background-color: #ffffff; /* Change the background color of .custom-btn to white on .index-card hover */
  color: #000000; /* Change the text color to black on .index-card hover */
}
