.card-animation {
    width: 22rem;
    height: 28rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    border: #ffffff 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
   }
   
   .card-animation:hover {
    transform: translateY(-1.5rem);
    border: #68d75c 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
   }