.picker-container {
    display: flex;
    width: 89px;
    height: 89px;
    margin-bottom: 23px;
    justify-content: center;
    align-items: center;
}

.picker-placeholder {
    color: var(--placeholder);
    font-size: 14px;
    font-weight: 400;
}

.picker-margin-left {
    margin-left: 5px;
}
.title-alignment{
    font-size: 12px;
    margin-bottom: 7px;
}