.screen-variant-info {
    padding: 40px 50px;
}

.variant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.vacancies-container {
    display: flex;
    align-items: center;
}

.menu-container {
    margin-left: 10px;
}