/* html,
body {
    height: 100%;
} */

body,
html {
    height: 100%;
    margin: 0;
}


/* styles.css (or any other stylesheet file) */

/* Hide the scrollbar */
body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /* for Firefox */
}

/* Hide the scrollbar for WebKit/Blink based browsers */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


:root {
    --primary: #4cc916;
    --secondary: #014d0d;
    --placeholder: #727586;
    --border: #DADCE0;
    --border-radius: 4px;
    --badge: #e0fad9;
    --description: #5A5D73;
    /* --card-border: #67a16f; */
    --card-border: #c8e0cc;
    --bg-container-light: #fbfcfa;
    --bg-container-dark: #f2faf0;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.bg-container-light {
    background-color: var(--bg-container-light);
}

.bg-container-dark {
    background-color: var(--bg-container-dark);
}

.auth-screen {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.auth-container {
    width: 350px;
}


.auth-logo {
    position: absolute;
    top: 3%;
    left: 8%;
}

.screen {
    min-height: 100dvh;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.home-wrapper {
    margin-top: 100px;
}

.screen-padding {
    min-height: 100dvh;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding: 4% 7%;
}

.card-border {
    border: 1px solid var(--card-border);
    border-radius: var(--border-radius);
}

.screen-container {
    margin-top: 50px;
    padding: 4% 7%;
}


.card-container {
    width: 100%;
    border: 1px solid var(--card-border);
    border-radius: var(--border-radius);
    padding: 3% 4%;
}

.card-container-no-padding {
    width: 100%;
    border: 1px solid var(--card-border);
    border-radius: var(--border-radius);

}

.badge-schedule {
    background-color: var(--badge);
    border-radius: 20px;
    border-width: 0px;
    padding: 6px 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/* .back-container {
    position: absolute;
    left: 3%;
    top: 65px;
    z-index: 9999;
} */

.back-container-vacancies {
    position: absolute;
    left: 3%;
    top: 65px;
    /* z-index: 9999; */
}


@media(max-width: 768px) {
    .card-container {
        width: 100%;
        border: 1px solid var(--card-border);
        border-radius: var(--border-radius);
        padding: 5%;
    }

}

.loader-container {
    display: flex;
    width: 100%;
    height: 400px;
    max-height: 400px;
    /* Set the height to the full height of the screen */
    align-items: center;
    justify-content: center;
}

.loader-containers {
    display: flex;
    width: 100%;
    height: 200px;
    max-height: 200px;
    /* Set the height to the full height of the screen */
    align-items: center;
    justify-content: center;
}


.btn-wrapper {
    width: 215px;
}

.no-data-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    background-color: #FAFBFF;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 30px;

}

.image-container .place-holder {
    width: 20px;
    height: 20px;
}