.loader-container {
  height: 100dvp;
}

.image-container {
  width: 35mm;
  height: 45mm;
  overflow: hidden;
}

.screen-padding {
  padding: 5%;
}

.report-dropdown-container {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.report-back-button {
  position: relative;
  top: -6px;
  right: 860px;
}

.print-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}

@media(max-width: 768px) {
  .report-dropdown-container {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    top: 0px;
  }
}