.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.status-active {
  color: var(--secondary);
  font-size: 14px;
  margin-left: 5px;
  font-weight: 600;
}

.status-closed {
  color: var(--description);
  font-size: 14px;
  font-weight: 400;
}

.experience-home {
  margin-left: 10px;
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}


.details-title {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 700;
}

.details-desc {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.details-container-space {
  margin-left: 26px;
}

.details-wrapper {
  margin-top: 15px;
}

.jd-container {
  margin-top: 15px;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-details-btn {
  width: 215px;
}

.completed-date-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.completed-text-container {
  margin-left: 3px;
}


.created-at-des {
  margin-top: 5px;
  font-size: 14px !important;
  color: #727586 !important;
  font-weight: 400 !important;
}


.complete-schedule-container {
  margin-top: 40px;
  background-color: var(--bg-container-light);
  padding: 40px;
}

.completed-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 10px;
}

.completed-item-heading {
  max-width: 300px;
  flex: 1;

}

.completed-item-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-item-content-border {
  border-bottom: 1px solid rgba(193, 241, 200, 0.8);
  margin-left: 25%;
  margin-right: 8%;
}


.completed-at {
  margin-left: 4px;
  font-size: 14px !important;
  color: #727586 !important;
  font-weight: 400 !important;
}

.skill-value {
  display: flex;
  flex: 1;
  font-size: 1rem;
  color: var(--secondary) !important;
  font-weight: 400 !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.report-btn-container {
  width: 125px;
}

.skill-empty {
  flex: 0.5;
}

@media (max-width: 768px) {

  .section-container {
    display: flex;
    flex-direction: column;

  }

  .view-details-btn {
    margin-top: 15px;
    width: 100%;
  }

  .details-container-space {
    margin-left: 10px;
  }
}